In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [3]:
df = pd.read_csv('Final_dummies.csv')

In [5]:
dfy = pd.read_csv('baselineDF_full_hour.csv')

In [7]:
dfy['is_arr_delayed'] = 0
dfy.loc[dfy['arr_delay'] >= 15] = 1

In [8]:
dfy

,Unnamed: 0,Unnamed: 0.1,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,...,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,hour,is_arr_delayed
0,0,10,2018-12-01,NK,NK,NK,395,NK,N602NK,395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,0
1,1,11,2018-12-01,NK,NK,NK,396,NK,N602NK,396,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,0
2,2,12,2018-12-01,NK,NK,NK,403,NK,N507NK,403,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,0
3,3,13,2018-12-01,NK,NK,NK,403,NK,N507NK,403,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,0
4,4,14,2018-12-01,NK,NK,NK,404,NK,N512NK,404,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99087,99087,99995,2018-12-05,AA,AA_CODESHARE,AA,4874,PT,N642AE,4874,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,0
99088,99088,99996,2018-12-05,AA,AA_CODESHARE,AA,4875,PT,N669MB,4875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,0
99089,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1
99090,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1
99091,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1

In [4]:
df.columns

Index(['Unnamed: 0', 'fl_date', 'origin_airport_id', 'dest_airport_id',
       'taxi_out', 'taxi_in', 'distance', 'dep_hour', 'arr_hour', 'perc_del',
       'med_dep_delay', 'med_arr_delay', 'med_distance', 'mean_carr',
       'mean_weather', 'mean_nas', 'mean_sec', 'mean_late_air',
       'monthly_passengers', 'monthly_mail', 'dep_fl_lv', 'dep_fl_ar',
       'arr_fl_lv', 'arr_fl_ar', 'dep_ps_tt', 'arr_ps_tt',
       'op_unique_carrier_9E', 'op_unique_carrier_AA', 'op_unique_carrier_AS',
       'op_unique_carrier_AX', 'op_unique_carrier_B6', 'op_unique_carrier_C5',
       'op_unique_carrier_CP', 'op_unique_carrier_DL', 'op_unique_carrier_EM',
       'op_unique_carrier_EV', 'op_unique_carrier_F9', 'op_unique_carrier_G4',
       'op_unique_carrier_G7', 'op_unique_carrier_HA', 'op_unique_carrier_KS',
       'op_unique_carrier_MQ', 'op_unique_carrier_NK', 'op_unique_carrier_OH',
       'op_unique_carrier_OO', 'op_unique_carrier_PT', 'op_unique_carrier_QX',
       'op_unique_carrier_UA', 'op_unique_carrier_WN', 'op_unique_carrier_YV',
       'op_unique_carrier_YX', 'op_unique_carrier_ZW'],
      dtype='object')